<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width"> 
  </head>

  <body>
    <table class="body" data-made-with-foundation="" style="color: black;">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center data-parsed="" style="background: #eee;">
            <table class="spacer float-center">
              <tbody>
                <tr>
                  <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                </tr>
              </tbody>
            </table>
            <table align="center" class="container float-center" style="width: 75%;background: white;">
              <tbody>
                <tr>
                  <td>
					  <table class="row blue-back" style="background-color: #2c3680;width: 100%; color: white;">
						  <tbody>
                        <tr>
                          <th class="small-12 large-5
									 columns first">
                            <table style="font-family: Helvetica, Arial, sans-serif;font-weight:100;">
                              <tr>
                                <th class="link-area">
                                  <a style="color:white;" href="https://www.Connected Parking.ca/" target="_blank">Connected Parking.ca </a> | <a style="color:white;" href="https://www.Connected Parking.ca/admin/profile" target="_blank">My Account</a>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-7 columns last"  style="text-align: -webkit-right;">
                            <table style="font-family: Helvetica, Arial, sans-serif;font-weight:100;">
                              <tr>
                                <th class="question">
                                  Questions? Email Us!: <a style="color:white;" href="mailto:Info@connectedparking.ca">support@connectedparking.ca</a>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
					  </table>
					  <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="width:100%">
                      <tbody>
                        <tr>
                          <th class="small-12 large-4 columns first" style="text-align: -webkit-center;">
                            <table>
                              <tr>
                                <th>
                                  <center data-parsed="">
                                    <a href="https://connectedparking.ca" target="_blank">
                                      <img src="https://connectedparking.ca/goc_api/uploads/icons/side_logo.png" width="22%" align="center" class="float-center">
                                    </a>
                                  </center>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
					  <table class="row"  style="width:100%">
                      <tbody>
                        <tr>
                          <th class="small-12 large-4 columns first" style="text-align: -webkit-center;">
                            <table >
                              <tr>
                                <th>
                                  <!-- <center data-parsed=""><a href="https://www.instabin.ca" target="_blank"><img src="https://demo.bbits.solutions/InstaBin-api/upload/thanks.png" align="center" class="float-center"></a></center> -->
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
					  <table class="row" style="width: 100%; border-bottom: 1px solid #ccc;">
						  <tbody style="font-size: 15px;">
                        <tr>
                          <th class="small-12 large-5
									 columns first">
                            <table>
                              <tr>
                                <th class="bluelink text-left" style="text-align: start;">
                                  
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-7 columns last"  style="text-align: -webkit-right;">
                            <table>
                              <tr>
                                <th class="bluelink text-right" style="text-align: end;">
                                  
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
					  </table>
					  <table class="spacer">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last"  height="1px"><hr/></th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table style="font-family: Helvetica, Arial, sans-serif;">
                              <tr style="text-align-last: start;">
                                <th class="main-body">
                                  <h3 style="font-size: 17px;"><span style="color:#2c3680">Connected Parking Team,</span></h3>
                                  <p style="text-align: start;font-weight: 100;font-size: 15px;">
                                    Thank you for signing up for connected parking. Please verify your account.<br/>
                                  </p>
                                  <div style="text-align-last: center;">
                                    <button type="button" style="background: #2c3680;padding: 8px 22px;border: 0;border-radius: 20px;">
                                      <a href="<%= path %>verify/<%= token %>" style="font-size: 15px;color: white;text-decoration: none;">
                                        Verify Account
                                      </a>
                                    </button>
                                  </div>
									<p style="font-weight:100;font-size:15px">Best regards</p>
                                        <p class="blue" style="color:#2c3680;font-size: 15px;"><strong>Connected Parking Team</strong></p>
                                        <p class="notice" style="text-align:start;font-style: italic;color: #585858;font-weight: 100;">**NOTICE: This e-mail message, including any attachments hereto, is for the sole use of the intended recipient(s) and may contain confidential and/or privileged information. If you are not the intended recipient(s), any unauthorized review, use, copying, disclosure or distribution is prohibited. If you are not the intended recipient(s), please contact the sender by reply e-mail immediately and destroy the original and all copies (including electronic versions) of this message and any of its attachments
                                    </p>
                                  <p>&nbsp;</p>
                                <p>&nbsp;</p></th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>                    

                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
					  
				
					  <table class="spacer footer" style="background-color: #2c3680; width: 100%;">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
					          <!-- <table class="row collapsed footer" style="background-color: #2B2B2B; ">
                      <tbody>
						  
                        <tr>
                          <th class="small-12 large-6 columns first" style="width: 50%;">
                            <table>
                              <tr>
                                <th style="text-align: start">
                                 <h3 class="blue" style="color: #2c3680;">Invite friends and spread the word</h3>
								  <p style="color: #727272;font-size: 12px;">Share our service with your friends and help them with the instabin advantage of disposing waste, garbage, and junk as fast and efficiently as possible.</p>
									<table class="menu">
                                      <tr>
                                        <td>
                                          <table width="100%" class="social">
                                            <tr>
                                            <th>
                                                <a href="https://www.facebook.com/Connected Parking-106220611854409" target="_blank"><img src="https://demo.bbits.solutions/InstaBin-api/upload/face.png" width="34px" alt=""></a>
												  <a href="https://www.instagram.com/Connected Parking3281" target="_blank"><img src="https://demo.bbits.solutions/InstaBin-api/upload/inst.png" width="34px" alt=""></a>
												  <a href="https://twitter.com/InformationPor5" target="_blank"><img src="https://demo.bbits.solutions/InstaBin-api/upload/tw.png" width="34px" alt=""></a>
												  <a href="https://www.pinterest.ca/information1799" target="_blank"><img src="https://demo.bbits.solutions/InstaBin-api/upload/glo.png" width="34px" alt=""></a>
                                              </th>                                              
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th >
							<th class="small-12 large-6 columns last" style="width: 50%;">
                            <table>
                              <tr>
                                <th class="bluelink text-right" style="text-align: end;">
                                  <h4><a href="https://Connected Parking.ca/about-us" style="color: #2c3680;" target="_blank">About Us</a> | <a href="https://Connected Parking.ca/contact-us" style="color: #2c3680;"  target="_blank">Contact Us</a><h4>
								  <p class="grey text-right" style="color: #727272;font-size: 12px;">Instabin your go-to private waste removal organization, providing safe and financially savvy options for garbage removal. The best part is that it's that simple! We dispose of residential and commercial garbage efficiently and easily.</p>
									
									<p class="grey text-right"><a href="https://www.Connected Parking.ca"style="color: #2c3680;">www.Connected Parking.ca</a><br/>
									<a href="mailto:Info@connectedparking.com" style="color: #2c3680;" >Info@connectedparking.ca</a></p>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table> -->
                    <table class="row collapsed footer" style="width: 100%;background-color: #2c3680;">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last" style="text-align: -webkit-center;">
                            <table>
                              <tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="text-center" style="color: #f0f2f5;">Copyright &#169; 2022 Connected Parking. All Rights Reserved.</p></th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>

</html>